div.AreaTrabajo{
	padding-left:0px;
	padding-right:0;
	margin-left:210px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	overflow:hidden;
}
hr.Linea{
	margin-top:1px;
	margin-bottom:1px;
}
#DetalleFac .LineaCampo {
    border:0;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline:transparent;
    background: none !important;
}