div.AreaTrabajo{
	padding-left:0px;
	padding-right:0;
	margin-left:210px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
}
hr.Linea{
	margin-top:1px;
	margin-bottom:1px;
}
div.Herramientas{
height:40px;
}
div.Detalle{
	height:100px;
}
